html{
	background-color: #ffffff;
	line-height: 1.5;
}

body{
	font-family: 'Courier New', monospace;
	font-size: 90%;
}

img {

	max-width: 100%;
	height: auto;
}

/* Main Column Typography */

header{
	padding-top: 20px;
	color: #617140;
}

header h1{
	margin: 0;
	font-weight: normal;
	font-size: 800%;
	letter-spacing: 12px;
}

 header p{
 	margin: 0;
 	font-style: italic;
 }

 header h2{
	margin: 0;
	font-weight: normal;
	font-size: 800%;
	letter-spacing: 12px;
}

.content-area{
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

/* Banner Overlay */
.image-banner {
	position:relative;
}

.image-banner img{
	display: block;
}

.banner-description {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFFF;
	background-color: rgba(0, 0, 0 , .65);
	padding: 15px 25px;
}

.container{
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFF;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

/* Site Navigation */

.site-nav{
	margin-top: 20px;
}
.site-nav ul{
	margin: 0;
	padding: 0;
}
.site-nav li{
	list-style: none;
	float: left;
	margin-right: 5px;
}

.site-nav a {
	display: block;
	color: #617140;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom:none;
 }

 .site-nav a:hover {
 	background-color: #e5e9dc;
 }

/* End Site Navigation */

.main-area{
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

/* Style the Contact Form */

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #e5e9dc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
	/* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text], select, textarea {
	resize: vertical
}

/* Style the sidebar */

sidebar{
	width: 34%;
	float: right;
	background-color: #e5e9dc;
	padding: 20px 40px;
	box-sizing:border-box;
    font-size: 85%;
	position: absolute;
}
